<!doctype html>
<html lang="{{language}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <meta name="description" content="{{description}}">
    <meta name="robots" content="index, follow">
  </head>

  <body>
    <div style="width: 100vw; height: 200px; background: black; color: white;">
      Your header goes here
    </div>

    <main>
      {{content}}
    </main>
    <div style="width: 100vw; height: 200px; background: black; color: white;">
      Your footer goes here
    </div>
  </body>
</html>
